@use "../abstracts/variables" as v;

body {
  font-family: v.$font-main;
  font-size: 16px;
  line-height: 1.6;
  color: v.$dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-main;
  font-weight: 700;
  line-height: 1.2;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
p {
  margin-bottom: 1rem;
}